input {
    keyboard {
        repeat-delay 192
        repeat-rate 64
    }
    touchpad {
        scroll-method "two-finger"
        tap
        dwt
        drag true
    }
    disable-power-key-handling
}
output "eDP-1" {
    scale 1
    position x=0 y=0
    focus-at-startup
}
/*BINDS
-
focus-workspace-down
focus-workspace-up
-
toggle-window-floating
switch-focus-between-floating-and-tiling
-
toggle-column-tabbed-display
-
toggle-overview
-
maximize-column
fullscreen-window
-
switch-preset-column-width
*/
binds {
    Mod+Return {
        power-off-monitors
    }
    Mod+Shift+Return {
        quit
    }
    Ctrl+Alt+Delete allow-inhibiting=false {
        toggle-keyboard-shortcuts-inhibit
    }
    Mod+A {
        spawn "wezterm"
    }
    Mod+S {
        spawn "librewolf"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "vol" "m"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "vol" "-"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "vol" "+"
    }
    /-XF86AudioMedia {}
    /-XF86AudioPrev allow-when-locked=true {}
    /-XF86AudioPlay allow-when-locked=true {}
    /-XF86AudioNext allow-when-locked=true {}
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "bri" "+"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "bri" "-"
    }
    Mod+Escape repeat=false {
        close-window
    }
    Mod+H {
        focus-column-or-monitor-left
    }
    Mod+J {
        focus-window-or-workspace-down
    }
    Mod+K {
        focus-window-or-workspace-up
    }
    Mod+L {
        focus-column-or-monitor-right
    }
    Print {
        screenshot
    }
}
layout {
    gaps 0
    empty-workspace-above-first
    preset-column-widths {
        // 33%
        fixed 752
        // term
        fixed 893
        // browser
        fixed 1034
        // 50%
        fixed 1128
        // 67%
        fixed 1504
    }
    default-column-width {
        fixed 752
    }
    border {
        off
    }
    focus-ring {
        off
    }
    tab-indicator {
        place-within-column
        gap 0
        position "bottom"
    }
}
spawn-at-startup "mako"
prefer-no-csd
screenshot-path "~/all/Desktop/pictures/screenshots/%Y-%m-%dT%H-%M-%S.png"
environment {
    TERM "wezterm"
    BROWSER "librewolf"
    OFFICE "libreoffice"
    QT_QPA_PLATFORM "wayland"
    GDK_BACKEND "wayland"
    SDL_VIDEODRIVER "wayland"
    MOZ_ENABLE_WAYLAND "1"
    NIXOS_OZONE_WL "1"
    GTK_USE_PORTAL "1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}
gestures {
    hot-corners {
        off
    }
}
hotkey-overlay {
    skip-at-startup
}
animations {
    slowdown 0.5
}
window-rule {
    match app-id="(firefox|librewolf)$" title="^Picture-in-Picture$"
    open-floating true
}
window-rule {
    match app-id="org.wezfurlong.wezterm"
    default-column-width {
        fixed 893
    }
}
window-rule {
    match app-id="librewolf"
    default-column-width {
        fixed 1034
    }
}

