input {
    keyboard {
        repeat-delay 224
        repeat-rate 80
    }
    touchpad {
        scroll-method "two-finger"
        tap
        dwt
        drag true
    }
    disable-power-key-handling
}
output "eDP-1" {
    scale 1
}
binds {
    Mod+Shift+Return {
        quit
    }
    Mod+Return {
        power-off-monitors
    }
    Mod+Escape {
        toggle-overview
    }
    XF86AudioMute allow-when-locked=true {
        spawn "vol" "m"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "vol" "-"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "vol" "+"
    }
    /-XF86AudioMedia {}
    /-XF86AudioPrev allow-when-locked=true {}
    /-XF86AudioPlay allow-when-locked=true {}
    /-XF86AudioNext allow-when-locked=true {}
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "bri" "+"
    }
    Shift+XF86MonBrightnessUp allow-when-locked=true {
        spawn "bri" "65535"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "bri" "-"
    }
    Shift+XF86MonBrightnessDown allow-when-locked=true {
        spawn "bri" "0"
    }
    Mod+A {
        spawn "wezterm"
    }
    Mod+Shift+A {
        spawn "wezterm" "start" "--class" "org.wezfurlong.wezterm.floating"
    }
    Mod+S {
        spawn "librewolf"
    }
    Print {
        screenshot
    }
    Shift+Print {
        screenshot-window
    }
    Ctrl+Print {
        screenshot-screen
    }
    Mod+Delete allow-inhibiting=false {
        toggle-keyboard-shortcuts-inhibit
    }
    Mod+Q repeat=false {
        close-window
    }
    Mod+W {
        toggle-column-tabbed-display
    }
    Mod+H {
        focus-column-or-monitor-left
    }
    Mod+J {
        focus-window-or-workspace-down
    }
    Mod+K {
        focus-window-or-workspace-up
    }
    Mod+L {
        focus-column-or-monitor-right
    }
    Mod+Ctrl+H {
        move-column-left-or-to-monitor-left
    }
    Mod+Ctrl+J {
        move-window-down-or-to-workspace-down
    }
    Mod+Ctrl+K {
        move-window-up-or-to-workspace-up
    }
    Mod+Ctrl+L {
        move-column-right-or-to-monitor-right
    }
    Mod+Shift+H {
        set-column-width "-47"
    }
    Mod+Shift+J {
        set-window-height "+47"
    }
    Mod+Shift+K {
        set-window-height "-47"
    }
    Mod+Shift+L {
        set-column-width "+47"
    }
    Mod+Ctrl+Shift+H {
        consume-or-expel-window-left
    }
    Mod+Ctrl+Shift+J {
        move-workspace-down
    }
    Mod+Ctrl+Shift+K {
        move-workspace-up
    }
    Mod+Ctrl+Shift+L {
        consume-or-expel-window-right
    }
    Mod+Semicolon {
        switch-focus-between-floating-and-tiling
    }
    Mod+Ctrl+Semicolon {
        toggle-window-floating
    }
    Mod+Shift+Semicolon {
        switch-preset-column-width
    }
    Mod+Ctrl+Shift+Semicolon {
        switch-preset-window-height
    }
}
layout {
    gaps 0
    empty-workspace-above-first
    preset-column-widths {
        // base
        fixed 893
        // half
        fixed 1128
        // offset base
        fixed 1363
        // full
        fixed 2256
    }
    preset-window-heights {
        // 25%
        fixed 376
        // 50%
        fixed 752
        // 75%
        fixed 1128
        // 100%
        fixed 1504
    }
    default-column-width {
        fixed 752
    }
    border {
        off
    }
    focus-ring {
        off
    }
    tab-indicator {
        position "bottom"
        place-within-column
        gap 0
        width 2
        length total-proportion=1.0
    }
}
spawn-at-startup "mako"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
prefer-no-csd
screenshot-path "~/all/Desktop/pictures/screenshots/%Y-%m-%dT%H-%M-%S.png"
environment {
    TERM "wezterm"
    BROWSER "librewolf"
    OFFICE "libreoffice"
    QT_QPA_PLATFORM "wayland"
    GDK_BACKEND "wayland"
    SDL_VIDEODRIVER "wayland"
    MOZ_ENABLE_WAYLAND "1"
    NIXOS_OZONE_WL "1"
    GTK_USE_PORTAL "1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}
gestures {
    hot-corners {
        off
    }
}
hotkey-overlay {
    skip-at-startup
}
animations {
    slowdown 0.5
}
window-rule {
    match app-id="^org\\.wezfurlong\\.wezterm$" is-floating=false
    default-column-width {
        fixed 893
    }
}
window-rule {
    match app-id="^org\\.wezfurlong\\.wezterm\\.floating"
    open-floating true
}
window-rule {
    match app-id="librewolf" is-floating=false
    default-column-width {
        fixed 893
    }
}
recent-windows {
    debounce-ms 0
    open-delay-ms 0
    binds {
        Mod+Tab {
            next-window
        }
        Mod+Shift+Tab {
            previous-window
        }
        Mod+grave {
            next-window filter="app-id"
        }
        Mod+Shift+grave {
            previous-window filter="app-id"
        }
    }
}

