/* GLOBAL */
:root {
  --uc-border-radius: 8px;
  /* distance statuspanel floats from window border, corner = 0 */
  --uc-status-panel-spacing: 12px;
}
/* remove window control buttons */
.titlebar-buttonbox-container, #pageActionButton {
  display: none !important;
}
#PanelUI-menu-button {
  padding: 0px !important;
  &.toolbarbutton-icon {
    width: 1px !important;
  }
  &.toolbarbutton-badge-stack {
    padding: 0px !important;
  }
}

/* TOOLBAR */
:root {
  /* top = 0, bottom = 0 */
  --uc-toolbar-position: 4;
}
/* darken, black = 1, no darkening = 0 */
@media (prefers-color-scheme: dark) {
  :root {
    --uc-darken-toolbar: 0.2;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --uc-darken-toolbar: 0;
  }
}

/* URLBAR */
:root {
  /* for oneline layout, enabled -> max-width on focus, otherwise always min-width */
  --uc-urlbar-min-width: 40vw;
  --uc-urlbar-max-width: 60vw;
  /* tabs on right = 1, tabs on left = 3 */
  --uc-urlbar-position: 1;
  /* adapt vertical urlbar placement if necessary */
  --uc-urlbar-top-spacing: 1px;
}
/* disable navigation buttons and go arrow */
#back-button, #forward-button, #urlbar-go-button {
  display: none !important;
}

/* TABS */
:root {
  --uc-active-tab-width: clamp(100px, 30vw, 300px);
  --uc-inactive-tab-width: clamp(100px, 20vw, 200px);
  /* -moz-inline-block = show always, none = hide */
  --show-tab-close-button: none;
  /* -moz-inline-block = show on hover, none = hide */
  --show-tab-close-button-hover: none;
  /* -moz-box = show, none = hide */
  --uc-show-all-tabs-button: none;
  /* left/right dip of container indicator, tab width = 0px, smaller indicator = >0px */
  --container-tabs-indicator-margin: 10px;
  /* container indicator glow, disable = 0 */
  --uc-identity-glow: 0 1px 10px 1px;
}
/* hide tab label text (not icon) */
.tab-secondary-label {
  display: none !important;
}

/* COLORS */
@media (prefers-color-scheme: dark) {
  :root {
    /* mostly for container tabs */
    --uc-identity-colour-blue: #7ed6df;
    --uc-identity-colour-turquoise: #55e6c1;
    --uc-identity-colour-green: #b8e994;
    --uc-identity-colour-yellow: #f7d794;
    --uc-identity-colour-orange: #f19066;
    --uc-identity-colour-red: #fc5c65;
    --uc-identity-colour-pink: #f78fb3;
    --uc-identity-colour-purple: #786fa6;
    /* main scheme */
    --uc-base-colour: #1e2021;
    --uc-highlight-colour: #191b1c;
    --uc-inverted-colour: #fafafc;
    --uc-muted-colour: #aaaaac;
    --uc-accent-colour: var(--uc-identity-colour-purple);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    /* mostly for container tabs */
    --uc-identity-colour-blue: #1d65f5;
    --uc-identity-colour-turquoise: #209fb5;
    --uc-identity-colour-green: #40a02b;
    --uc-identity-colour-yellow: #e49320;
    --uc-identity-colour-orange: #fe640b;
    --uc-identity-colour-red: #fc5c65;
    --uc-identity-colour-pink: #ec83d0;
    --uc-identity-colour-purple: #822fee;
    /* main scheme */
    --uc-base-colour: #fafafc;
    --uc-highlight-colour: #dadadc;
    --uc-inverted-colour: #1e2021;
    --uc-muted-colour: #191b1c;
    --uc-accent-colour: var(--uc-identity-colour-purple);
  }
}
:root {
  --lwt-frame: var(--uc-base-colour) !important;
  --lwt-accent-color: var(--lwt-frame) !important;
  --lwt-text-color: var(--uc-inverted-colour) !important;
  --toolbar-field-color: var(--uc-inverted-colour) !important;
  --toolbar-field-focus-color: var(--uc-inverted-colour) !important;
  --toolbar-field-focus-background-color: var(--uc-highlight-colour) !important;
  --toolbar-field-focus-border-color: transparent !important;
  --toolbar-field-background-color: var(--lwt-frame) !important;
  --lwt-toolbar-field-highlight: var(--uc-inverted-colour) !important;
  --lwt-toolbar-field-highlight-text: var(--uc-highlight-colour) !important;
  --urlbar-popup-url-color: var(--uc-accent-colour) !important;
  --lwt-tab-text: var(--lwt-text-colour) !important;
  --lwt-selected-tab-background-color: var(--uc-highlight-colour) !important;
  --toolbar-bgcolor: var(--lwt-frame) !important;
  --toolbar-color: var(--lwt-text-color) !important;
  --toolbarseparator-color: var(--uc-accent-colour) !important;
  --toolbarbutton-hover-background: var(--uc-highlight-colour) !important;
  --toolbarbutton-active-background: var(--toolbarbutton-hover-background)
    !important;
  --lwt-sidebar-background-color: var(--lwt-frame) !important;
  --sidebar-background-color: var(--lwt-sidebar-background-color) !important;
  --urlbar-box-bgcolor: var(--uc-highlight-colour) !important;
  --urlbar-box-text-color: var(--uc-muted-colour) !important;
  --urlbar-box-hover-bgcolor: var(--uc-highlight-colour) !important;
  --urlbar-box-hover-text-color: var(--uc-inverted-colour) !important;
  --urlbar-box-focus-bgcolor: var(--uc-highlight-colour) !important;
}
.identity-color-blue {
  --identity-tab-color: var(--uc-identity-colour-blue) !important;
  --identity-icon-color: var(--uc-identity-colour-blue) !important;
}
.identity-color-turquoise {
  --identity-tab-color: var(--uc-identity-colour-turquoise) !important;
  --identity-icon-color: var(--uc-identity-colour-turquoise) !important;
}
.identity-color-green {
  --identity-tab-color: var(--uc-identity-colour-green) !important;
  --identity-icon-color: var(--uc-identity-colour-green) !important;
}
.identity-color-yellow {
  --identity-tab-color: var(--uc-identity-colour-yellow) !important;
  --identity-icon-color: var(--uc-identity-colour-yellow) !important;
}
.identity-color-orange {
  --identity-tab-color: var(--uc-identity-colour-orange) !important;
  --identity-icon-color: var(--uc-identity-colour-orange) !important;
}
.identity-color-red {
  --identity-tab-color: var(--uc-identity-colour-red) !important;
  --identity-icon-color: var(--uc-identity-colour-red) !important;
}
.identity-color-pink {
  --identity-tab-color: var(--uc-identity-colour-pink) !important;
  --identity-icon-color: var(--uc-identity-colour-pink) !important;
}
.identity-color-purple {
  --identity-tab-color: var(--uc-identity-colour-purple) !important;
  --identity-icon-color: var(--uc-identity-colour-purple) !important;
}

/* LAYOUT */
:root {
  --toolbarbutton-border-radius: var(--uc-border-radius) !important;
  --tab-border-radius: var(--uc-border-radius) !important;
  --arrowpanel-border-radius: var(--uc-border-radius) !important;
}
#toolbar-menubar[autohide="true"][inactive]:not([customizing]) {
  width: 0px;
}
#main-window,
#toolbar-menubar,
#TabsToolbar,
#navigator-toolbox,
#sidebar-box,
#nav-bar {
  box-shadow: none !important;
}
#main-window,
#toolbar-menubar,
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox,
#sidebar-box,
#nav-bar {
  border: none !important;
}
/* remove horizontal tab padding */
.titlebar-spacer {
  display: none !important;
}
/* fix shield icon padding */
#urlbar-input-container[pageproxystate="valid"]
  > #tracking-protection-icon-container
  > #tracking-protection-icon-box
  > #tracking-protection-icon {
  padding-bottom: 1px;
}
#TabsToolbar {
  order: 2;
}
#nav-bar {
  order: 3;
}

#PersonalToolbar {
  padding: 6px !important;
  box-shadow: inset 0 0 50vh rgba(0, 0, 0, var(--uc-darken-toolbar)) !important;
  order: var(--uc-toolbar-position);
  width: 100%;
}
#statuspanel #statuspanel-label {
  border: none !important;
  border-radius: var(--uc-border-radius) !important;
}

/* RESPONSIVE */
@media (min-width: 893px) {
  #navigator-toolbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #nav-bar {
    order: var(--uc-urlbar-position);
    width: var(--uc-urlbar-min-width);
  }
  #nav-bar #urlbar-container {
    min-width: 0px !important;
    width: auto !important;
  }
  #TabsToolbar {
    width: calc(100vw - var(--uc-urlbar-min-width) - 1px);
  }
  #navigator-toolbox:focus-within #nav-bar {
    width: var(--uc-urlbar-max-width);
  }
  #navigator-toolbox:focus-within #titlebar {
    width: calc(100vw - var(--uc-urlbar-max-width) - 1px);
  }
}

/* FLOATING PANEL */
#statuspanel #statuspanel-label {
  margin: 0 0 var(--uc-status-panel-spacing) var(--uc-status-panel-spacing)
    !important;
}

/* NAV BAR */
#navigator-toolbox:not(:-moz-lwtheme) {
  background: var(--toolbar-field-background-color) !important;
}
#nav-bar {
  padding-block-start: 0px !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}
#urlbar, #urlbar * {
  outline: none !important;
  box-shadow: none !important;
}
#urlbar-background {
  border: transparent !important;
}
#urlbar[focused="true"] > #urlbar-background,
#urlbar:not([open]) > #urlbar-background {
  background: var(--toolbar-field-background-color) !important;
}
#urlbar[open] > #urlbar-background {
  background: var(--toolbar-field-background-color) !important;
}
.urlbarView-row:hover > .urlbarView-row-inner,
.urlbarView-row[selected] > .urlbarView-row-inner {
  background: var(--toolbar-field-focus-background-color) !important;
}
.urlbar-icon, #urlbar-go-button {
  margin: auto;
}
.urlbar-page-action {
  padding: 0 inherit !important;
}

/* TABS */
/* remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
  margin-inline-start: 0 !important;
}
/* hide list-all-tabs */
#alltabs-button {
  display: var(--uc-show-all-tabs-button) !important;
}
/* remove tab shadow */
.tabbrowser-tab > .tab-stack > .tab-background {
  box-shadow: none !important;
}
/* multi tab selection */
#tabbrowser-tabs:not([noshadowfortests])
  .tabbrowser-tab:is([multiselected])
  > .tab-stack
  > .tab-background:-moz-lwtheme {
  outline-color: var(--toolbarseparator-color) !important;
}
/* tab close button options */
.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: var(--show-tab-close-button) !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  display: var(--show-tab-close-button-hover) !important;
}
/* adaptive tab width */
.tabbrowser-tab[selected][fadein]:not([pinned]) {
  max-width: var(--uc-active-tab-width) !important;
}
.tabbrowser-tab[fadein]:not([selected]):not([pinned]) {
  max-width: var(--uc-inactive-tab-width) !important;
}
/* container tabs indicator */
.tabbrowser-tab[usercontextid]
  > .tab-stack
  > .tab-background
  > .tab-context-line {
  margin: -1px var(--container-tabs-indicator-margin) 0
    var(--container-tabs-indicator-margin) !important;
  height: 1px !important;
  box-shadow: var(--uc-identity-glow) var(--identity-tab-color) !important;
}
/* show favicon when media is playing but tab is hovered */
.tab-icon-image:not([pinned]) {
  opacity: 1 !important;
}
/* make the speaker icon always appear if the tab is playing (not only on hover) */
.tab-icon-overlay:not([crashed]),
.tab-icon-overlay[pinned][crashed][selected] {
  top: 5px !important;
  z-index: 1 !important;
  padding: 1.5px !important;
  inset-inline-end: -8px !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 10px !important;
}
/* style and position speaker icon */
.tab-icon-overlay:not([sharing], [crashed]):is(
  [soundplaying],
  [muted],
  [activemedia-blocked]
) {
  stroke: transparent !important;
  background: transparent !important;
  opacity: 1 !important;
  fill-opacity: 0.8 !important;
  color: currentColor !important;
  stroke: var(--toolbar-bgcolor) !important;
  background-color: var(--toolbar-bgcolor) !important;
}
/* match active tab/speaker icon colors */
.tabbrowser-tab[selected]
  .tab-icon-overlay:not([sharing], [crashed]):is(
    [soundplaying],
    [muted],
    [activemedia-blocked]
  ) {
  stroke: var(--toolbar-bgcolor) !important;
  background-color: var(--toolbar-bgcolor) !important;
}
.tab-icon-overlay:not([pinned], [sharing], [crashed]):is(
  [soundplaying],
  [muted],
  [activemedia-blocked]
) {
  margin-inline-end: 9.5px !important;
}
.tabbrowser-tab:not([image])
  .tab-icon-overlay:not([pinned], [sharing], [crashed]) {
  top: 0 !important;
  padding: 0 !important;
  margin-inline-end: 5.5px !important;
  inset-inline-end: 0 !important;
}
.tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tab-icon-overlay:not([crashed])[muted]:hover,
.tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: currentColor !important;
  stroke: var(--toolbar-color) !important;
  background-color: var(--toolbar-color) !important;
  fill-opacity: 0.95 !important;
}
.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[muted]:hover,
.tabbrowser-tab[selected]
  .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: currentColor !important;
  stroke: var(--toolbar-color) !important;
  background-color: var(--toolbar-color) !important;
  fill-opacity: 0.95 !important;
}
/* fix speaker icon color */
#TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying],
#TabsToolbar .tab-icon-overlay:not([crashed])[muted],
#TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked] {
  color: var(--toolbar-color) !important;
}
/* fix speaker icon color on hover */
#TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying]:hover,
#TabsToolbar .tab-icon-overlay:not([crashed])[muted]:hover,
#TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: var(--toolbar-bgcolor) !important;
}
/* fix selected tab color */
.tabbrowser-tab[selected] .tab-content {
  background-color: var(--uc-highlight-colour) !important;
}
